.encabezado{
    background-color: rgb(22, 206, 238);
    color: white;
    padding: 10px;
    text-align: center;
}
.Titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(248, 244, 244);
   
}

.buscador{
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 8px;
    margin: 10px;
    outline:none;
    text-align: center;
}
.estrellas{
    background-color:rgba(235, 229, 243, 0.637);
    border-radius:50px;
    margin: 0 10px;
    padding: 10px;
    span{
        margin: 0 5px;
    }
    span:nth-child(1){
        color: rgb(88, 0, 252);
    }

    span:nth-child(2){
        color: rgb(0, 255, 21);
    }

    span:nth-child(3){
        color: rgb(255, 0, 242);
    }

    span:nth-child(4){
        color: rgb(4, 0, 255);
    }


    span:nth-child(5){
        color: red;
    }

    
}

.imagen{
    width:60px;
}
.grid {
    display:grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    align-items: center;
    padding:0 10px;
}